* {
box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #282D35;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #21222A;
  padding: 30px 25px;
  height: 91px;


}

.nav-icon {
width: 28.93px;
height: 28.93px;
top: 31px;
left: 26px;
padding: 2.21px, 0.62px, 2.21px, 0.62px;
margin-right: 7px;
}

.navbar h3 {
  font-family: inter;
  font-weight: 700;
  font-size: 22.25px;
  color: #61DAFB;
  text-align: left;
  margin-right: auto;
}

.navbar h2 {
  font-family: inter;
  font-weight: 600;
  font-size: 16px;
  color: #DEEBF8;
  text-align: right;
}

.main-title {
font-family: Inter;
font-size: 39px;
font-weight: 700;
line-height: 47px;
letter-spacing: -0.05em;
text-align: left;
color: #FFFFFF;
width: 424px;
height: 41px;
top: 148px;
left: 27px;
margin: 0;
}

.list {
font-family: Inter;
font-size: 16px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
color:#FFFFFF;
margin-top: 46px;
max-width: 400px;
}

main {
  padding: 57px 27px;
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.list > li {
  line-height: 19px;
  padding-block: 10px;
}

.list > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}


